# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Build
target/
build/
out/

# Logs
*.log
logs/

# Env & secrets
.env
*.env
application-local.yml
application-dev.yml
application-prod.yml
**/application.properties
**/application.yml

*.key
*.pem

# Node
node_modules/
